.login-page {
  .login-page__inner {
    width: 100%;
    max-width: 466px;
    margin-top: 200px;
  }
  .login-page__sub-tit {
    margin-top: 20px;
  }
  .login-page__form-container {
    display: flex;
    flex-direction: column;
    margin-top: 140px;
  }
  .login-page__forget-link {
    align-self: flex-end;
    margin-top: 10px;
    font-size: 16px;
    line-height: 30px;
    color: #727272;
  }
  .login-page__submit-btn {
    width: 68%;
    margin: 60px auto 0;
  }
}
