.basic-input {
  .basic-input__input {
    height: 50px;

    &.round {
      border-radius: 23px;
    }
  }
  .basic-input__label {
    display: block;
    margin-left: 27px;
  }
  .basic-input__message {
    margin: 5px 0 0 17px;
  }
}
