.signup-page {
  .signup-page__inner {
    width: 100%;
    max-width: 510px;
    margin-top: 130px;
  }
  .signup-page__form-container {
    margin-top: 108px;
  }
  .signup-page__submit-btn {
    width: 68%;
    margin: 70px auto 0;
  }
}
